html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Geologica", sans-serif;
    font-variation-settings: "slnt" 0, "CRSV" 0, "SHRP" 0;
    background-image: url("../public/bg-image.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}